.main{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    min-height: 50vh;
    margin-top: 4rem;
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
    padding-left: 5rem;
    box-shadow: 5px 5px 10px rgb(233, 233, 233);
    margin-bottom: 5rem;
}

.image{
    position: relative;
    box-shadow: 10px 10px  #e2e4eb;
    border-radius: 2rem;
    width: 100%;
    margin-inline: auto;
}

.img{
    border-radius: 2rem;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.content>b:first-child{
    font-size: 3rem;
    color: #595b96;
}

.content>b:last-of-type{
    color: #595b96;
}

.head{
    margin-top: 5rem;
}

.stars{
    display: flex;
    justify-content: space-between;
    padding: .5rem 0rem;

}

.back{
    background-color: #6dc8a0;
    padding: .5rem;
    border-radius: .5rem;
    color: white;
    width: 2rem;
    text-align: center;
    font-size: 1rem;
    height: 2rem;
    margin-top: 1rem;
    cursor: pointer;
    margin-right: 1rem;
    border-radius: 50%;
}

.back1{
    background-color: #595b96;
    padding: .5rem;
    border-radius: .5rem;
    color: white;
    font-size: 1rem;
    height: 2rem;
    margin-top: 1rem;
    cursor: pointer;
    text-align: center;
}

@media screen and (max-width:1200px) {
    .main{
        grid-template-columns: 1fr 1.5fr;
    }
}

@media screen and (max-width:1000px) {
    .main{
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    .content{
        width: 90%;
    }
    .image{
        height: 50vh;
    }
}

@media screen and (max-width:500px) {
    .image{
        height: 30vh;
    }
}


